/* index.css */
* {
  box-sizing: border-box;
  /* border:1px solid red; */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
}

html, body {
  background-color: #151515;
  color: #fff;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  color: #ffffff;
  text-decoration: inherit;
}

@media (prefers-color-scheme: light) {
  :root, html, body {
    color: #213547;
    background-color: #151515;
  }
}